body {
  font-family: Georgia;
  background-color: #ccc;
}

h1 {
  border-bottom: solid 1px black;
  margin: 10px 0;
  font-size: 1.4em;
  padding-bottom: 10px;
}

img {
  border: none;
}

a {
  color: black;
}

a.add {
  background: url(/images/add.png) no-repeat center left; 
  padding-left: 20px;
  text-decoration: none;
  border: solid 1px black;
  -moz-border-radius: 5px;
  padding: 5px 5px 5px 20px;
}
a.add:hover {
  background-color: #ccc;
  text-decoration: underline;
}
a.destroy {
  background: url(/images/delete.png) no-repeat center left;
  padding-left: 20px;
}
a.edit {
  background: url(/images/edit.png) no-repeat center left;
  padding-left: 20px;
}

#wrapper {
  margin: 20px auto;
  width: 800px;
  min-height: 400px;
  border: solid 2px black;
  padding: 10px;
  -moz-border-radius: 5px;
  background-color: white;
}

#progress {
  display: none;
  float: right;
  width: 130px;
}

#progress img {
  float: left;
  margin: 3px;
}
#progress div {
  margin: 0;
  padding: 8px;
}

table.grid {
  border: solid 1px black;
  margin: 10px auto;
  width: 100%;
  padding: 0px;
  border-collapse: collapse;
}

table.grid thead {
  background-color: #ccc;
  border-bottom: solid 1px black;
}
table.grid th {
  text-align: left;
  padding: 4px;
}
table.grid th.actions {
  width: 100px;
}
table.grid th.grabber {
  width: 20px;
}
table.grid tr {
  cursor: pointer;
}
table.grid tr.alternate {
  background-color: #eee;
}
table.grid tr:hover {
  background-color: #ccc;
}
table.grid td {
  padding: 4px;
}

form {
  width: 97%;
  border: solid 2px black;
  padding: 10px;
  -moz-border-radius: 5px;
}

form fieldset {
  border: none;
}

form fieldset ol {
  margin: 0;
  padding: 0;
}
form fieldset ol li {
  list-style: none;
}

form fieldset.inputs ol {
  min-height: 100px;
}

form fieldset.buttons {
  text-align: right;
}

form label {
}

form input[type=text] {
  margin:0 0 0 15px;
  padding:2px;
  width:400px;
  border: xsolid 1px black;
  -moz-border-radius: 3px;
}

form li.error input {
  border: solid 1px red;
}

form abbr {
  color: #333;
}

form p.inline-errors {
  display: inline;
  color: red;
  font-size: 0.7em;
}
